body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container h2 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .form-container input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-container input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  #current-temp {
    text-align: center;
  }
  
  #current-temp h2 {
    margin: 10px 0;
    font-size: 28px;
    font-weight: normal;
  }